.homeTitle {
  padding: 40px;
  font-family: "Osiris";
  color: white;
  font-size: 55px;
  text-align: center;
  margin-top: 0px;
}

.homeBanner {
  width: 100%;
  top: 0;
}

.homeParagraph {
  font-family: "Montserrat";
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  margin-top: 40px;
  line-height: 51px;
  max-width: 710px;
}

.homeFrame1Container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 6px solid white;
  box-shadow: inset 0 10px 99px rgba(255, 255, 255, 0.16);
  padding-top: 20px;
  padding-bottom: 20px;
}
.homeFrame1Text {
  top: 7.5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
  color: white; /* Text color */
  font-size: 30px;

  font-family: "Montserrat";
}
.homeFrame2Container {
  width: 750px;
  /* height: 750px; */
  padding-top: 750px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 16px solid white;
  border-radius: 56px;
}
.homeFrame2Icon {
  height: 42.5%;
  position: absolute;
}
.homeFrame2TextContainer {
  width: 42.5%;
  height: 42.5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeFrame2Text {
  font-weight: bold;
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  font-family: "Montserrat";
}
#home-mainsection {
  height: 2400px;
}

@media (max-width: 767px) {
  .homeFrame1Container {
    width: 90%;
    margin: 0 center;
  }
  .homeFrame2Container {
    width: 80%;
    padding-top: 80%;
    margin: 0 center;
    margin-top: 60px;
  }
  .homeFrame2Text {
    font-weight: bold;
    position: absolute;

    color: #ffffff;
    font-size: 4vw;
    font-family: "" Montserrat "";
  }
}

@media (max-width: 425px) {
  .homeTitle {
    font-size: 25px;
    padding: 20px;
  }
  .homeFrame1Container {
    padding: 10px;
    width: 80%;
  }
  .homeFrame1Text {
    font-size: 15px;
  }
  .homeParagraph {
    font-size: 15px;
    padding: 20px;
    margin-top: 40px;
    line-height: 35px;
  }
  #home-mainsection {
    height: 1600px;
  }
}
@media (max-width: 320px) {
  .homeTitle {
    font-size: 13px;
  }
  .homeFrame1Text {
    font-size: 13px;
  }
  .homeParagraph {
    font-size: 13px;
    line-height: 25px;
  }
  #home-mainsection {
    height: 1100px;
  }
}
